<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
</head>
<body>
    <h1>Редактор: {{ template_name }}</h1>

    <div id="toolbar">
        <button onclick="saveSite()" id = "saveBtn">💾 Сохранить</button>
        <button onclick="downloadSite()" id = "downloadBtn">📥 Скачать ZIP</button>
        <button onclick="moveUp()">⬆ Вверх</button>
        <button onclick="moveDown()">⬇ Вниз</button>
        <button onclick="duplicateElement()">📄 Дублировать</button>
        <button onclick="deleteElement()">🗑 Удалить</button>
        <button onclick="undo()">↩ Отмена</button>
        <input type="file" id="imageUpload" accept="image/*" style="display: none;">
        <button onclick="document.getElementById('imageUpload').click()">🖼 Добавить/Заменить картинку</button>
    </div>

    <iframe id="editorFrame" data-template="{{ template_name }}" src="{{ url_for('static', filename='templates/' + template_name + '/index.html') }}"></iframe>


    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
</body>
</html>
